.post-container {
    border-radius: 10px;
    /* margin: 10px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 400px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}

.post-container > img, 
.post-container > p {
    padding: 0 5px 5px 5px;
}

.post-image {
    margin: 5px;
    margin-top: 20px;
    border-radius: 10px;
    width: 65%;
    min-height: 200px;
    object-fit: cover;
    object-position: center;
    height: 150px;
}

.post-category {
    color: #095d40;
    font-size: 16px;
}

.post-link-link-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    color: black;
}

.post-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 0 10px; 
    word-break: break-word;
}

.post-author {
    color: #878787;
    font-size: 12px;
}

.post-actions {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
    width: 100%;
    max-width: 250px;
    height: 100%;
    margin-bottom: 20px;
}

.post-button-library {
    background: url('https://i.pinimg.com/564x/3f/10/ae/3f10ae365b60fbebb4c685be08d488b6.jpg');
    color: white;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.post-button-heart {
    border: 1px solid transparent;
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.post-button-heart .button-icon {
    font-size: 20px;
    color: grey; 
    transition: color 0.3s ease;
}

.post-button-library:hover {
    transform: translateY(-3px);
}

.post-button-library:active {
    transform: translateY(0px);
}

.post-button-library:hover .button-icon {
    color: white;
}

.post-button-heart.clicked .button-icon {
    color: orange; 
}

.post-button-heart:hover {
    background-color: rgba(0, 0, 0, 0.3); 
}
