.contact-banner{
    max-height: 400px;
    width: 100%;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.container-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px solid transparent;
    border-radius: 10px;
    /* margin-left: 100px; */
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}

.contacts .contact-map {
    width: 100%;
    min-width: 500px;
    height: 100%;
    min-height: 750px;
    border: none;
}

.contact-section-heading {
    font-size: 32px;
    font-weight: 600;
}

.contact-info {
    margin-top: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 18px;
}

.info-item .svg-inline--fa {
    margin-right: 10px;
    color: #014e33;
    font-size: 1.5em;
}

.contacts .right {
    width: 500px;
    padding: 50px;
}

.contacts .contact-para {
    color: grey;
}

.contacts .items {
    margin: 30px 0;
}

.contacts .box .contact-para {
    font-size: 17px;
    margin-top: 10px;
}

.contact-text-info input[type="text"], 
.contact-text-info input[type="email"], 
.contact-text-info textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    outline: none;
    border: 1px solid grey;
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

.contact-text-info input[type="text"]:focus, 
.contact-text-info input[type="email"]:focus, 
.contact-text-info textarea:focus {
    border: 3px solid #fd690d;
    cursor: text;
}

.contact-btn {
    margin-top: 20px;
    background: url('https://i.pinimg.com/564x/3f/10/ae/3f10ae365b60fbebb4c685be08d488b6.jpg');
    width: 70%; 
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-left: 100px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.contact-btn:hover {
    transform: scale(1.02);
}

@media screen and (max-width: 768px) {
    .contact-map{
        display: none;
    }
    .contacts .container-contact {
        margin-top: -80px;
        width: 80%;
        flex-direction: column;
    }

    .contact-text-info{
        width: 90%;
    }

    .contacts .row {
        width: 100%;
    }

    .contact-btn {
        margin-left: 90px;
    }
}
